In [ ]:
# Macro-Driven Cross-Asset Risk Analysis
Assets: **Gold (GC=F)**, **US Dollar Index (DXY)**, **US 10Y Yield (US10Y)**

This notebook loads cleaned datasets exported by `src/financial_analysis.py`, and reproduces key metrics:
- Return correlation & rolling correlation
- Rolling volatility
- Risk-adjusted performance (Sharpe)
- Maximum drawdown

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
prices = pd.read_csv("../data/prices.csv", index_col=0, parse_dates=True)
returns = pd.read_csv("../data/returns.csv", index_col=0, parse_dates=True)

prices.head()

                   GOLD        DXY  US10Y
Date
2020-01-02  1524.500000  96.849998  1.882
2020-01-03  1549.199951  96.839996  1.788
2020-01-06  1566.199951  96.669998  1.811
2020-01-07  1571.800049  96.980003  1.827
2020-01-08  1557.400024  97.300003  1.874

In [5]:
returns.corr()

           GOLD       DXY     US10Y
GOLD   1.000000 -0.382023 -0.187149
DXY   -0.382023  1.000000  0.221255
US10Y -0.187149  0.221255  1.000000

In [ ]:
rolling_corr_60 = returns["GOLD"].rolling(60).corr(returns["DXY"])
rolling_vol_30 = returns.rolling(30).std()

# Rolling correlation plot
plt.figure(figsize=(10, 5))
plt.plot(rolling_corr_60)
plt.title("60-Day Rolling Correlation: GOLD vs DXY")
plt.show()

# Rolling volatility plot
plt.figure(figsize=(10, 5))
plt.plot(rolling_vol_30["GOLD"], label="GOLD")
plt.plot(rolling_vol_30["DXY"], label="DXY")
plt.plot(rolling_vol_30["US10Y"], label="US10Y")
plt.legend()
plt.title("30-Day Rolling Volatility")
plt.show()

In [ ]:
annual_return = returns.mean() * 252
annual_vol = returns.std() * np.sqrt(252)
sharpe = annual_return / annual_vol

cumulative = (1 + returns).cumprod()
drawdown = cumulative / cumulative.cummax() - 1
max_drawdown = drawdown.min()

summary = pd.DataFrame({
    "AnnualReturn": annual_return,
    "AnnualVol": annual_vol,
    "Sharpe": sharpe,
    "MaxDrawdown": max_drawdown
})

summary